* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: rgb(238, 236, 236);
  background-color: rgb(12, 12, 12);
}

header {
  width: 100vw;

  & .container {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;

    & i {
      font-size: 2rem;
      color: rgb(211, 208, 208);
    }

    & .icons {
      display: flex;
      gap: 1rem;
      align-items: center;
      transition: all 1s ease;

      & .dots {
        font-size: 2.5rem;
        font-weight: 700;
      }

      & .seta-esquerda {
        opacity: 0.5;
      }

      & .seta-direita {
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
          color: rgb(255, 255, 255);
          transform: scale(1.1);
        }
      }
    }

    & .home-search {
      display: flex;
      align-items: center;
      max-width: 50rem;
      width: 100%;
      gap: 1rem;

      & i {
        font-size: 2.5rem;
      }

      & .home {
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: rgb(39, 39, 39);
        transition: all 0.5s ease;
        cursor: pointer;

        & i {
          color: white;
        }

        &:hover {
          transform: scale(1.1);
          background-color: rgb(53, 53, 53);
        }
      }

      & .search-bar {
        width: 45rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2.5rem;
        background-color: rgb(39, 39, 39);
        transition: all 0.8s ease-in-out;

        &:hover {
          border: solid 1px grey;
          background-color: rgb(53, 53, 53);

          & .lupa {
            color: aliceblue;
          }
        }

        & form {
          display: flex;
          gap: 1.5rem;
          justify-content: space-between;

          & input {
            background-color: transparent;
            border: none;
            width: 30rem;
            font-size: 1.7rem;
          }

          & i {
            cursor: pointer;
          }

          & .caixa {
            transition: all 0.3s ease-in-out;

            &:hover {
              transform: scale(1.1);
              color: aliceblue;
            }
          }
        }
      }
    }

    & .user-infos {
      display: flex;
      align-items: center;
      gap: 2rem;

      & i {
        font-size: 1.4rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          color: white;
        }
      }

      & .user-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: rgb(39, 39, 39);
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.1);
          background-color: rgb(51, 51, 51);
        }
      }
    }
  }
}

.container-main {
  padding: 1rem;
  width: 100vw;
  display: flex;
  gap: 1rem;

  & .menu-lateral {
    max-width: 8rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgb(27, 27, 27);
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;

    & .library {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding-top: 1.5rem;

      & .barras {
        font-size: 2rem;
        cursor: pointer;
      }

      & .nova-playlist {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: rgb(56, 56, 56);
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }

    & .playlists-lateral {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & .playlist-lateral {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 6rem;
        max-height: 6rem;
        padding: 1.5rem;
        border-radius: 1rem;
        cursor: pointer;

        &:hover {
          background-color: rgb(63, 63, 63);
        }

        & img {
          border-radius: 0.5rem;
        }
      }
    }
  }

  & .menu-central {
    width: 70vw;
    height: 80vh;
    border-radius: 1rem;
    background-color: rgb(27, 27, 27);

    & .container-menu {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 4rem;
      gap: 2rem;

      /* tocados recentemente */
      & .recentes {
        display: grid;
        gap: 1.5rem;

        /* seletor de playlists recentes */
        & .opcoes-recentes {
          display: flex;
          gap: 1rem;

          & .opcao-tudo,
          .opcao-musica,
          .opcao-podcasts {
            font-size: 1.4rem;
            font-weight: 700;
            padding: 0.8rem;
            border-radius: 2rem;
            background-color: rgba(148, 147, 147, 0.199);
            cursor: pointer;

            &:hover {
              background-color: rgba(148, 147, 147, 0.315);
            }

            &.active {
              background-color: white;
              color: rgb(19, 19, 19);

              &:hover {
                background-color: rgb(219, 214, 214);
              }
            }
          }
        }

        /* playlists recentes */
        & .playlists-recentes {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 1rem;
          margin-bottom: 3rem;

          & .playlist-card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 700;
            font-size: 1.4rem;
            height: 5rem;
            max-width: 26.5rem;
            border-radius: 0.5rem;
            background-color: rgba(148, 147, 147, 0.116);
            overflow: hidden;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            position: relative;

            &:hover {
              background-color: rgba(148, 147, 147, 0.226);
              .botao-play {
                display: flex;
              }
            }

            & .foto-nome-card {
              display: flex;
              gap: 1rem;
              align-items: center;
            }

            & .botao-play {
              display: none;
              align-items: center;
              justify-content: center;
              padding: 1rem;
              background-color: #1ed760;
              height: 3.5rem;
              width: 3.5rem;
              border-radius: 50%;
              color: black;
              font-size: 1.8rem;
              margin-right: 1rem;
              cursor: pointer;
              box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.322);
              position: absolute;
              z-index: 1;
              right: 0;

              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }
      }

      & .recomendados {
        display: grid;
        gap: 1.5rem;
      }
    }
  }
}
